@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Применение свойства visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

/* Базовые насторйки body */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  padding-top: 40px;
}

/* Шапка страницы */
.index-header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 134px;
}

.catalog-header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  margin-bottom: 35px;
}

.page-header {
  background-color: #ffe17f;
  color: #000000;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation-links-img {
  margin-right: 12px;
}

.header-logo {
  display: block;
  margin-top: -20px;
  margin-bottom: 28px;
}

.header-logo-link {
  display: block;
  margin-top: -20px;
  margin-bottom: 19px;
}

.header-logo:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.header-logo:active {
  opacity: 0.3;
}

.middle-header-container {
  display: flex;
  justify-content: start;
  width: 1040px;
  margin: 0  auto;
  margin-bottom: 30px;
}

.navigation-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 517px;
  margin-right: 24px;
}

.search-field-container {
  width: 358px;
  display: flex;
  align-items: center;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 16px;
  border: solid 2px transparent;
  outline: solid 2px transparent;
}

.search-field-container:focus-within {
  border: solid 2px transparent;
  outline: solid 2px #af4fff;
  z-index: 1;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-field {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  padding-left: 44px;
  border: solid 2px #000000;
  border-right: solid 2px transparent;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  flex-grow: 1;
  background: none;
  outline: transparent;
}

.search-field::placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-field:placeholder-shown {
  color: #000000;
  background-color: transparent;
  outline: none;
}

/* Отображение курсора на всех кнопках */
button {
  cursor: pointer;
}

.search-button {
  width: 160px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: none;
  border: 2px solid #000000;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding: 8px 56px;
  outline: solid 2px transparent;
}

/* Анимация при наведении курсора на кнопку "Найти" */
.search-button:hover {
  color: #ffffff;
  background-color: #000000;
  transition: 0.5s;
}

/* Анимация при нажатии на кнопку "Найти" */
.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.search-button:disabled {
  opacity: 0.3;
}

.search-button-container {
  border: solid 2px transparent;
  overflow: solid 2px transparent;
  margin-left: -6px;
}

.search-button-container:focus-within {
  border: solid 2px transparent;
  outline: solid 2px #af4fff;
  z-index: 1;
}

.navigation-links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 497px;
}

.enter-navigation-link::before {
  content: url("../images/icons/login.svg");
  padding-right: 12px;
}

.compare-navigation-link::before {
  content: url("../images/icons/compare.svg");
  padding-right: 12px;
}

.cart-navigation-button {
  display: flex;
  align-items: center;
}

.number-two-icon {
  display: block;
  padding-right: 14px;
}

.navigation-links:hover {
  opacity: 0.6;
}

.navigation-links:active {
  opacity: 0.3;
}

.navigation-links-item:first-child {
  flex-grow: 1;
}

.exit-link-span {
  opacity: 0.3;
  padding-left: 28px;
}

.navigation-links-item:nth-child(2) {
  margin-right: 8px;
}

.navigation-links-item a {
  color: #000000;
  text-decoration: none;
  padding: 6px 4px;
}

.bottom-header-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
}

.navigation-dropdown {
  display: flex;
  position: relative;
}

.navigation-links-button {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border: none;
  background: none;
  padding: 6px 4px;
  margin-right: -6px;
}

.navigation-dropdown-input {
  display: none;
}

.navigation-dropdown-button {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: auto;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1;
}

.navigation-dropdown-button::after {
  content: url("../images/icons/plus.svg");
  padding-left: 17px;
  opacity: 0.3;
}

.navigation-dropdown-button:hover::after {
  opacity: 1;
}

/* Если чекбокс выбран, показывать и фиксировать меню */
.navigation-dropdown-input:checked ~ .navigation-dropdown-list-container {
  opacity: 1;
  display: block;
}

.navigation-dropdown-input:checked ~ .navigation-dropdown-button::after {
  content: url("../images/icons/minus.svg");
}

.navigation-dropdown-list-container {
  position: absolute;
  left: -60px;
  top: 31px;
  z-index: 0;
  display: none;
}

.navigation-dropdown-list {
  display: grid;
  width: 1100px;
  height: 180px;
  grid-template-columns: 252px 212px 211px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-top: 26px;
  background-color: #ffe17f;
}

.navigation-dropdown-column {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-column-item:not(:last-child) {
  margin-bottom: 6px;
}

.navigation-advantages-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  max-width: 475px;
}

.navigation-advantages-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 4px;
  margin: 0;
}

.navigation-advantages-link:hover {
  opacity: 0.6;
}

.navigation-advantages-link:active {
  opacity: 0.3;
}

.navigation-advantages-item:first-child {
  margin-right: 35px;
}

.navigation-advantages-item {
  font-family: "Raleway", sans-serif;
  color: #000000;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 40px;
}

.navigation-advantages-item:last-child {
  margin-right: -8px;
}

.navigation-dropdown-link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.current {
  padding-bottom: 2px;
  border-bottom: solid 2px #000000;
}

.navigation-dropdown-link:hover {
  opacity: 0.6;
}

.navigation-dropdown-link:active {
  opacity: 0.3;
}

/* Основное содержание главной страницы */
.main-container {
  flex-grow: 1;
}

/* Баннеры товаров */
.banner {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: 0 auto;
  margin-top: -150px;
  margin-bottom: 70px;
}

.banner-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.bottom-item-text-container {
  min-width: 560px;
}

.banner-bottom-buttons-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-self: flex-end;
  grid-area: 1 / 1 / 2 / 3;
}

.banner-nav-button {
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 20px;
}

/* Состояние нижних навигационных кнопок баннера при наведении */
.banner-nav-button:hover {
  opacity: 0.6;
}

/* Состояние нижних навигационных кнопок баннера при нажатии */
.banner-nav-button:active {
  opacity: 0.3;
}

.banner-nav-button:last-child {
  margin-right: 0;
}

.banner-item-container {
  display: grid;
  grid-template-columns: 560px 600px;
  grid-template-rows: auto;
  visibility: hidden;
}


.banner-item-content {
  grid-area: 1 / 1 / 2 / 2;
  width: 560px;
  height: 560px;
}

.banner-item-text-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 40px;
  grid-area: 1 / 2 / 2 / 3;
}

.item-number {
  text-align: end;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  background-color: #ffe17f;
  padding-right: 49px;
  padding-bottom: 9px;
  padding-top: 82px;
}

.banner-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 29px;
}

.banner-text {
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.banner-text-bold {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 12px;
}

.banner-text-details-container {
  display: flex;
}

.banner-text-details {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #444444;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 26px;
}

.banner-text-details:last-child {
  margin-right: 0;
}

.banner-text-details-item-03 {
  margin-right: 40px;
}

/* Стилизация кнопок с желтой полоской */
.banner-more-button {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 220px;
  height: 40px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  overflow: hidden;
}

.banner-more-button::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
  left: 0;
  top: 15px;
  z-index: -1;
}

.banner-more-button:hover::before {
  transform: scale(10);
  transition: 0.5s;
}

.banner-more-button:active::before {
  background: #ffc700;
  transition: none;
}

.banner-more-button:disabled {
  opacity: 0.3;
}

.banner-buttons-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-self: start;
  grid-area: 1 / 1 / 2 / 2;
  padding-top: 211px;
  padding-left: 30px;
}

/* Кнопки баннеров "вперед, назад" */
.banner-button-next,
.banner-button-previous {
  padding: 0;
}


/* Состояние при наведении */
.banner-button-previous:hover,
.banner-button-next:hover {
  opacity: 0.6;
}

/* Состояние при нажатии */
.banner-button-previous:active,
.banner-button-next:active {
  opacity: 0.3;
}

/* Отдельный блок категорий товаров с иконками */
.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
  padding-bottom: 114px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1160px;
}

.category-item {
  display: flex;
  max-width: 160px;
}

.category-item:focus-within {
  outline: solid 2px #af4fff;
}

.category-item-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 32px;
}

.category-item-img-container-monopod {
  align-items: end;
}

.category-img {
  display: block;

  margin-bottom: 32px;
  background-color: #ffe17f;
}

.category-item a {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.category-item:hover .category-item-img-container {
  background-color: #ffc700;
  transition: 0.5s;
}

.category-item:active {
  opacity: 0.3;
}

/* Блок приемуществ */
.advantages {
  position: relative;
  background-color: #f0f0f0;
  margin-bottom: 70px;
  padding-bottom: 72px;
  z-index: 0;
}

.advantages-container {
  display: flex;
  justify-content: start;
  width: 1160px;
  margin: 0 auto;
}

.advantage-button,
.advantage-active-button {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  width: 160px;
  height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
  border: none;
  background: none;
  text-align: center;
  overflow: hidden;
}


.advantage-button::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 8px;
  background-color: #ffe17f;
  left: 0;
  top: 15px;
  z-index: -1;
}

.advantage-button:hover::before {
  transform: scale(10);
  transition: 0.5s;
}

.advantage-button:active::before {
  background: #ffc700;
  transition: none;
}

/* Дополнительные состояния кнопки кредита */
.advantage-credit-button:hover {
  width: 280px;
  padding-right: 127px;
  padding-left: 61px;
  transition: 0.5s;
}

.advantage-credit-button:focus {
  width: 280px;
  padding-left: 61px;
  padding-right: 127px;
  outline: solid 2px #af4fff;
}


.advantage-button-item:last-child .advantage-button {
  margin: 0;
}

.active-advantage-button-item {
  width: 280px;
  height: 40px;
  background-color: #000000;
  margin-bottom: 35px;
}

.advantage-active-button {
  width: 160px;
  height: 40px;
  margin-right: 120px;
  border: none;
  background-color: #000000;
  color: #ffe17f;
  text-align: center;
  cursor: default;
}

.advantage-button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-right: 116px;
  padding: 0;
  border-right: solid 6px;
  min-height: 319px;
}

.advantage-list {
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -102px;
}

.advantage-item {
  display: flex;
  width: 1160px;
  visibility: hidden;
}

/* Класс отвечающий за отображение первых баннеров */
.active {
  visibility: visible;
}

.advantage-item-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.advantage-text-container {
  display: flex;
  flex-direction: column;
  padding-top: 74px;
}

.advantage-text-container-delivery {
  margin-right: 110px;
  min-width: 452px;
  max-width: 454px;
}

.advantage-text-container-warranty {
  margin-right: 83px;
  min-width: 475px;
  max-width: 475px;
}

.advantage-text-container-credit {
  margin-right: 98px;
  min-width: 475px;
  max-width: 475px;
}

.advantage-text {
  color: #444444;
  margin: 0;
}

.advantage-img-courier {
  display: flex;
  align-self: center;
  width: 136px;
  height: 164px;
  background-image: url("../images/advantages/postman.svg");
}

.advantage-img-instruments {
  display: flex;
  align-self: center;
  width: 171px;
  height: 195px;
  background-image: url("../images/advantages/tools.svg");
}

.advantage-img-credit-card {
  display: flex;
  align-self: center;
  width: 156px;
  height: 188px;
  background-image: url("../images/advantages/loader.svg");
}

/* Блок доставки под заказ */
.special-delivery {
  display: flex;
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: #f0f0f0;
}

.special-delivery-delivery-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
}

.special-delivery-text {
max-height: 20px;
}

.special-delivery-info-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
}

.special-delivery-info-img g {
  opacity: 0.3;
}

.special-delivery-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 1160px;
  border: none;
  margin: 0;
  padding: 0;
}

.special-delivery-button:hover .special-delivery-info-img g {
  opacity: 1;
  transition: 0.5s;
}

.special-delivery-button:hover .special-delivery-delivery-img {
  background-color: #ffc700;
  transition: 0.5s;
}

.special-delivery-button:active {
  opacity: 0.3;
}

/* Общий блок "О нас" и "Контакты" */
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

/* Блок "О нас" */
.about {
  min-width: 520px;
  max-width: 520px;
}

.about-title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
  padding-top: 47px;
}

/* Декоративная линия над "О нас" */
.about-title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-text {
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.about-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-left: 24px;
}

.about-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 19px;
  color: #ffc700;
}

.about-item span {
  color: #000000;
  padding-left: 14px;
}

.about-item:nth-child(3) {
  margin-bottom: 0;
}

.about-button {
  position: relative;
  width: 270px;
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  overflow: hidden;
}

.about-button::before {
  position: absolute;
  content: "";
  width: 270px;
  height: 8px;
  background-color: #ffe17f;
  left: 0;
  top: 15px;
  z-index: -1;
}

.about-button:hover::before {
  transform: scale(10);
  transition: 0.5s;
}

.about-button:active::before {
  background: #ffc700;
  transition: none;
}


.about-button:disabled {
  opacity: 0.3;
}

/* Блок "Контакты" */
.contacts {
  min-width: 532px;
  max-width: 532px;
}

/* Декоративная линия над "Контакты" */
.contacts-title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
  padding-top: 47px;
}

.contacts-title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts-text {
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address-text {
  font-style: normal;
  color: #444444;
  margin: 0;
  margin-bottom: 32px;
}

.contacts-address-telephone {
  color: #444444;
}

.contacts-button {
  position: relative;
  width: 259px;
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  overflow: hidden;
}

.contacts-button::before {
  position: absolute;
  content: "";
  width: 259px;
  height: 8px;
  background-color: #ffe17f;
  left: 0;
  top: 15px;
  z-index: -1;
}

.contacts-button:hover::before {
  transform: scale(10);
  transition: 0.5s;
}

.contacts-button:active::before {
  background: #ffc700;
  transition: none;
}

.contacts-button:disabled {
  opacity: 0.3;
}

/* Блок подписки на рассылку */
.subs-container {
  margin: 0 auto;
  background-color: #f0f0f0;
}

.subs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 56px;
  padding-top: 64px;
  background-color: #f0f0f0;
}

.subs-top-container {
  display: flex;
  margin-bottom: 144px;
}

.subs-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-right: 252px;
  min-width: 348px;
  padding-left: 7px;
}

.subs-text {
  color: #444444;
  margin: 0;
  padding-top: 10px;
}

.subs-text-about {
  min-width: 560px;
}

.subs-bottom-text {
  padding-top: 12px;
}

.subs-bottom-text::before {
  content: url("../images/icons/green-check.svg");
  padding-right: 16px;
}

.subs-bottom-container {
  display: flex;
  justify-content: space-between;
  height: 57px;
}

.subs-form {
  display: flex;
  justify-content: space-between;
  width: 810px;
}

.subs-input {
  width: 557px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding-left: 16px;
  background: none;
  border: none;
  border-bottom: solid #c4c4c4;
}

.subs-input::placeholder {
  color: #444444;
  opacity: 0.5;
}

.subs-input:focus {
  outline: none;
  background: #dcdcdc;
}

.subs-input:invalid {
  border-bottom: solid #ff3d3d;
}

.subs-input:disabled {
  opacity: 0.3;
}

.subs-button {
  width: 253px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: solid #c4c4c4;
}

.subs-button:hover {
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #000000;
}

.subs-button:active {
  color: rgba(255, 255, 255, 0.5);
}

.subs-button:disabled {
  opacity: 0.3;
}

/* Футер страницы */
.page-footer-container {
  width: auto;
  margin: 0;
  background-color: #444444;
}

.page-footer {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 61px;
  background-color: #444444;
}

.footer-logo {
  padding-top: 62px;
  margin-bottom: 24px;
}

.footer-logo:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.footer-logo:active {
  opacity: 0.3;
}

.page-footer-address {
  padding-right: 119px;
}

.footer-address {
  margin-bottom: 64px;
}

.footer-address-text {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
  background-color: #444444;
  margin: 0;
  padding-bottom: 71px;
  min-width: 239px;
  max-width: 239px;
}

.footer-address-text::after {
  position: absolute;
  content: "";
  background-color: #ffc700;
  width: 80px;
  height: 7px;
  bottom: 0;
  left: 0;
}

.footer-social {
  padding-top: 132px;
  margin-right: 183px;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.social-button {
  display: block;
  width: 40px;
  height: 40px;
}

/* Настройки цвета фона икнонок соц. сетей */
.bottom-social-img {
  fill: #ffffff;
  opacity: 0.3;
}

/* Настройки цвета иконки соц. сетей */
.bottom-social-img path {
  fill: #444444;
}

/* Цвет фона иконки при наведении */
.social-button:hover .bottom-social-img {
  fill: #ffc700;
  opacity: 1;
}

/* Цвет иконки с фоном при нажатии */
.social-button:active .bottom-social-img {
  fill: #ffc700;
  opacity: 0.3;
}

.social-button:active .bottom-social-img path {
  opacity: 0.3;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  list-style: none;
}

.footer-info-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #444444;
  padding-bottom: 4px;
  border-bottom: solid 2px transparent;
}

.info-link-delivery {
  width: 125px;
}

.info-link-warranty {
  width: 121px;
}

.info-link-contacts {
  width: 128px;
}

.footer-info-link:hover {
  color: #ffc700;
  padding-bottom: 4px;
  border-bottom: solid 2px;
}

.footer-info-link:active {
  color: #ffc700;
  padding-bottom: 4px;
  border-bottom: solid 2px;
  opacity: 0.3;
}

.footer-info-item {
  margin-right: 35px;
}

.footer-info-item:last-child {
  margin-right: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tel {
  padding-top: 139px;
}

.footer-tel {
  margin-bottom: 63px;
}

.footer-tel-link {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #444444;
  min-width: 175px;
  max-width: 175px;
}

.footer-tel-link:hover {
  color: #ffc700;
}

.footer-tel-link:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-logo-academy {
  margin: 0;
  padding-left: 60px;
}

.footer-link-academy {
  display: block;
  width: 115px;
  height: 33px;
}

.footer-img-academy path {
  fill: #ffc700;
}

.footer-link-academy:hover .footer-img-academy path {
  fill: #ffffff;
}

.footer-link-academy:active .footer-img-academy path {
  fill: #ffffff;
  opacity: 0.3;
}

/* Контейнер модального окна */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

/* Срытие модального окна */
.modal-container-close {
  display: none;
}

/* Общий контейнер модального окна */
.modal {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 548px;
  /* padding: 72px 70px; */
  border: 10px solid #000000;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-frame {
  padding-top: 62px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 62px;
}

/* Описание и кнопка закрытия */
.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.modal-title-text {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

/* Стилизация кнопки закрытия */
.modal-title-button {
  display: block;
  width: 26px;
  height: 26px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal-title-button::after {
  position: relative;
  content: url("../images/icons/modal-cross.svg");
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
}

.modal-title-button:hover::after {
  opacity: 0.6;
}

.modal-title-button:active::after {
  opacity: 0.3;
}


/* Контейнер имени и e-mail */
.modal-form-name-email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

/* Поле имени */
.fieldset-name {
  padding: 0;
  border: none;
  width: 360px;
  margin: 0;
}

.legend-name {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 0;
  margin-bottom: 14px;
}

.input-name-text {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 320px;
  padding: 18px;
  background: #f0f0f0;
  border: solid 2px transparent;
}

.input-name-text::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.input-name-p::after {
  position: relative;
  content: url("../images/icons/modal-login.svg");
  width: 13px;
  height: 12px;
  top: -38px;
  left: 234px;
}

.input-name-p {
  display: block;
  padding: 0;
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* Поле e-mail */
.fieldset-email {
  padding: 0;
  border: none;
  width: 360px;
  margin: 0;
}

.legend-email {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
  padding: 0;
}

.input-email {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 320px;
  padding: 18px 18px;
  background: #f0f0f0;
  border: solid 2px transparent;
}

.input-email:hover,
.input-name-text:hover,
.input-bring:hover {
  background: #dcdcdc;
}


.input-email:focus,
.input-name-text:focus,
.input-bring:focus {
  border: solid 2px transparent;
  outline: solid 2px #af4fff;
}

.input-email:invalid,
.input-name-text:invalid,
.input-bring:invalid {
  background: #f0f0f0;
  border: 2px solid #ff3d3d;
}

.fieldset-email:invalid .input-email-p,
.fieldset-name:invalid .input-name-p {
  color: #ff3d3d;
}

.fieldset-email:disabled .input-email,
.fieldset-name:disabled .input-name-text,
.fieldset-bring:disabled .input-bring {
  background: #f0f0f0;
  opacity: 0.3;
}

.input-email::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.input-email-p::after {
  position: relative;
  content: url("../images/icons/modal-mail.svg");
  width: 15px;
  height: 12px;
  top: -38px;
  left: 178px;
}

.input-email-p {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* Контейнер "что привезти" и количество */
.modal-bring-quantity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

/* Поле "привезти" */
.fieldset-bring {
  padding: 0;
  border: none;
  margin: 0;
}

.legend-bring {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
  padding: 0;
}

.input-bring {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 500px;
  padding: 18px;
  background: #f0f0f0;
  border: solid 2px transparent;
}

.input-bring::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

/* Блок "количество" */
.fieldset-quantity {
  display: flex;
  align-items: end;
  padding: 0;
  border: 0;
  margin: 0;
  margin-top: -3px;
}

.legend-quantity {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  cursor: pointer;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.legend-quantity::after {
  content: url("../images/icons/modal-yellow-info.svg");
  width: 26px;
  height: 26px;
  padding-left: 8px;
}

.legend-quantity:hover .legend-quantity-info,
.legend-quantity:focus .legend-quantity-info {
  display: block;
}

.legend-quantity-info {
  position: absolute;
  z-index: 1;
  padding: 19px 17px 0 19px;
  background: #000000;
  top: 36px;
  left: 2px;
  display: none;
}

.legend-quantity-info::before {
  position: absolute;
  top: -15px;
  right: 62px;
  content: url("../images/icons/popover-triangle.svg");
}

.legend-quantity-info-p {
  display: block;
  width: 164px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 19px;
}

.quantity-field-container {
  display: flex;
}

.fieldset-quantity:invalid .quantity-field-container {
  outline: solid 2px #ff3d3d;
}

.legend-button-minus {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
}

.legend-button-minus::before {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000000;
  content: "";
  top: 29px;
  left: 22px;
}

.quantity-input-numbers {
  width: 60px;
  height: 60px;
  border: none;
  background: #f0f0f0;
  text-align: center;
  appearance: textfield;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.quantity-input-numbers::-webkit-outer-spin-button,
.quantity-input-numbers::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.legend-button-plus {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
}

.legend-button-plus::before {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000000;
  content: "";
  top: 29px;
  left: 22px;
}

.legend-button-plus::after {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000000;
  content: "";
  top: 29px;
  left: 22px;
  transform: rotate(90deg);
}

/* Стилизация кнопки "отправить" */
.modal-button-send {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  height: 40px;
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
  z-index: 0;
  background: none;
  border: none;
}

.modal-button-send::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 8px;
  background-color: #ffe17f;
  left: 0;
  top: 15px;
  z-index: -1;
}

.modal-button-send:hover::before {
  transform: scale(10);
  transition: 0.5s;
}

.modal-button-send:active::before {
  background: #ffc700;
  transition: none;
}

.modal-button-send:disabled {
  opacity: 0.3;
}

/* Хлебные крошки */
.catalog-breadcrumbs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1160px;
}

.breadcrumbs-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 11px;
  padding-left: 60px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 60px;
}

.breadcrumbs-item {
  margin-right: 16px;
}

.breadcrumbs-item a {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 0.3;
}

.breadcrumbs-link:active {
  opacity: 0.6;
}

.breadcrumbs-ray-img::after {
  content: url("../images/icons/ray.svg");
  padding-left: 16px;
}

/* Страница каталога товаров */
.main-catalog {
  position: relative;
  flex-grow: 1;
  background-color: #f0f0f0;
  margin: 0;
  z-index: 0;
}

.main-catalog-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

/* Блок боковой панели, фильтр */
.catalog-aside {
  display: flex;
  width: 320px;
  justify-content: end;
}

.aside-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 58px;
  padding-top: 25px;
  padding-left: 2px;
}

.aside-filter-panel {
  width: 262px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
}

.group-price {
  margin-bottom: 34px;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  width: 200px;
  border-top: solid 2px;
  margin-bottom: 28px;
  padding-top: 12px;
  padding-left: 0;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 12px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:active {
  opacity: 1;
  background: #000000;
}

.toggle-min {
  top: -9px;
  left: -10px;
}

.toggle-max {
  top: -9px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: start;
  margin-left: -14px;
}

.catalog-filter-label {
  color: rgba(00, 00, 00, 0.3);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-label:first-child {
  display: flex;
  width: 53px;
  margin-right: 52px;
}

.catalog-filter-label:focus-within {
  outline: solid 2px #af4fff;
}

.range-input {
  width: 15px;
  padding: 0;
  text-align: center;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
  color: rgba(00, 00, 00, 0.3);
  outline: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Блок "Цвет" */
.group-color {
  margin-bottom: 28px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark-focus {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  outline: solid 2px transparent;
  top: 3px;
  left: -1px;
  margin: 0;
}

.control:focus-within .control-mark-focus {
  outline: #af4fff solid 2px;
}

.control-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.control-mark {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: url("../images/icons/black-check-mark.svg");
  top: -6px;
  left: 5px;
  width: 10px;
  height: 10px;
}

.catalog-filter-title-color {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  width: 200px;
  border-top: solid 2px;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-left: 0;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.color-item {
  display: flex;
  align-items: center;
}

.color-item:not(:last-child) {
  margin-bottom: 7px;
}

/* Блок "Bluetooth" */
.bluetooth-item {
  display: flex;
  align-items: center;
}

.bluetooth-control:focus-within .control-mark-focus {
  outline: #af4fff solid 2px;
}

.group-bluetooth {
  margin-bottom: 20px;
}

.catalog-filter-title-bluetooth {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  width: 200px;
  border-top: solid 2px;
  padding-top: 12px;
  padding-left: 0;
  margin-bottom: 16px;
}

.bluetooth-control {
  position: relative;
  display: block;
  padding-left: 36px;
  margin-bottom: 10px;
}

.bluetooth-control-mark {
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
}

.bluetooth-control:hover .bluetooth-control-mark,
.bluetooth-control:hover .control-label {
  opacity: 0.5;
}

.bluetooth-control:active .bluetooth-control-mark,
.bluetooth-control:active .control-label {
  opacity: 0.3;
}

.control-input[type="radio"]:checked + .bluetooth-control-mark::before {
  position: relative;
  display: block;
  content: "";
  width: 8.5px;
  height: 8.5px;
  top: 5px;
  left: 5px;
  background: #000000;
  border-radius: 50%;
}

/* Кнопка применения фильтров */
.aside-button {
  margin-right: 34px;
  text-align: center;
}

.aside-button-show {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  height: 40px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 0;
}

.aside-button-show::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
  left: 0;
  top: 15px;
  z-index: -1;
}

.aside-button-show:hover::before {
  transform: scale(10);
  transition: 0.5s;
}

.aside-button-show:active::before {
  background: #ffc700;
  transition: none;
}

.aside-button-show:disabled {
  opacity: 0.3;
}

/* Контейнер-блок товаров */
.main-goods {
  display: flex;
  flex-direction: column;
  width: 840px;
  background-color: #ffffff;
}

/* Блок сортировки над списком товаров */
.goods-sorting {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 70px;
  padding-left: 40px;
  background: #f0f0f0;
  margin-bottom: 70px;
}

.goods-sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-right: 199px;
}

.goods-sorting-select {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background: none;
  border: none;
  padding-right: 8px;
  max-width: 141px;
}

.goods-sorting-form {
  margin-right: 213px;
}

.goods-sorting-select:hover {
  opacity: 0.6;
}

.goods-sorting-select:active {
  opacity: 0.3;
}

.sorting-button-up {
  width: 30px;
  height: 30px;
  border: none;
}

.sorting-button-up svg {
  fill: #000000;
  opacity: 0.2;
}

.sorting-button-down {
  width: 30px;
  height: 30px;
  border: none;
}

.sorting-button-down svg {
  fill: #000000;
  opacity: 0.2;
}

.sorting-buttons:hover svg {
  fill: #000000;
  opacity: 0.5;
}

.sorting-buttons:active svg {
  fill: #000000;
  opacity: 1;
}

/* Список товаров */
.goods-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  row-gap: 44px;
  column-gap: 40px;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 44px;
  margin-right: 40px;
  list-style: none;
}

/* Карточка товара */
.goods-item {
  display: grid;
}

.goods-item:focus-within {
  outline: solid 2px #af4fff;
}

.goods-item-container {
  display: grid;
  row-gap: 32px;
  cursor: pointer;
  grid-area: 1 / 1 / 2 / 2;
}

.goods-item-img {
  object-fit: contain;
  grid-area: 1 / 1 / 2 / 2;
}

.goods-item-text-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.goods-item-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
}

.goods-item-price {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.goods-item-button {
  position: relative;
  width: 220px;
  height: 40px;
  grid-area: 1 / 1 / 2 / 2;
  top: 170px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: 0;
  background: none;
  opacity: 0;
  z-index: 0;
}

.goods-item-button::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
  left: 0;
  top: 15px;
  z-index: -1;
}

.goods-item-button:hover::before {
  transform: scale(10);
  transition: 0.5s;
}

.goods-item-button:active::before {
  background: #ffc700;
  transition: none;
}

/* навожу, появляется скрытая кнопка */
.goods-item:hover .goods-item-button {
  opacity: 1;
}

.goods-item:hover .goods-item-img,
.goods-item:hover .goods-item-title {
  opacity: 0.6;
}

.goods-item-container:active .goods-item-text-container {
  opacity: 0.3;
}

/* Кнопка "Загрузить ещё" */
.more-goods-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 760px;
  height: 55px;
  margin: auto;
  margin-bottom: 44px;
  border: solid 3px;
  border-color: #e5e5e5;
}

.more-goods-button:hover {
  border: solid 3px #000000;
}

.more-goods-button:active {
  border: solid 3px #000000;
  opacity: 0.3;
}

.more-goods-button:disabled {
  border: 3px solid #e5e5e5;
  opacity: 0.3;
}

/* Блок навигации списка товаров */
.goods-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  margin: auto;
  width: 760px;
  height: 71px;
  margin-bottom: 78px;
}
/* Стили кнопок "Назад, Вперед" в покое */
.goods-navigation-button {
  padding: 25px;
  padding-right: 21px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background: #ebebeb;
}

.goods-navigation-button:hover {
  color: #000000;
  background: #dcdcdc;
}

.goods-navigation-button:active {
  color: #000000;
  opacity: 0.3;
}

/* Стиль "текущей" страницы */
.navigation-button-back {
  color: rgba(68, 68, 68, 0.3);
  background: #ebebeb;
  cursor: default;
}


.goods-navigation-button-numbers {
  width: 40px;
  height: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  border: none;
  padding: 6px 6px;
}

.goods-navigation-button-numbers:last-child {
  margin-right: 0;
}

.goods-navigation-button-numbers:nth-child(1) {
  color: rgba(68, 68, 68, 0.6);
}

.goods-navigation-button-numbers:hover {
  color: rgba(68, 68, 68, 1);
}

.goods-navigation-button-numbers:active {
  color: rgba(68, 68, 68, 0.1);
}

/* Класс сброса стиля кнопки */
.clear-button {
  background: none;
  border: none;
}

/* Выделение рамкой при фокусе TAB */
/* Значение для браузеров по умолчанию */
.focus-visible-outline:focus {
  outline: solid 2px #af4fff;
}

/* Улучшение через директиву @supports */
@supports selector(:focus-visible) {

  /* Убираем фокус у элементов */
  .focus-visible-outline:focus {
    outline: none;
  }

  /* Задаём видимый фокус у элементов */
  .focus-visible-outline:focus-visible {
    outline: solid 2px #af4fff;
  }
}

/* Оформление поповера */
.navigation-button-item {
  position: relative;
}

.navigation-button-item:hover .popover-container {
  display: block;
}

.popover-container {
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  background: #000000;
  color: #ffffff;
  width: 320px;
  z-index: 2;
  right: -80px;
  display: none;
}

.popover-container::after {
  position: absolute;
  content: url("../images/icons/popover-triangle.svg");
  top: -20px;
  right: 153px;
}

.ul-popover-products {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
}

.li-popover-product {
  position: relative;
  display: flex;
  padding: 20px 0 20px 20px;
}

.li-popover-monopod-01,
.li-popover-monopod-02 {
  display: flex;
}

.a-li-popover {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}

.a-li-popover:focus-within {
  outline: solid 2px #af4fff;
}

.li-popover-monopod-01 {
  justify-content: space-between;
  width: 183px;
  height: 43px;
}

.li-popover-monopod-02 {
  width: 213px;
  height: 43px;
}

.close-product-button {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  border: solid 2px transparent;
  background: url("../images/icons/popover-white-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 20px;
  cursor: pointer;
}

.close-product-button:hover {
  opacity: 0.6;
}

.close-product-button:active {
  opacity: 0.3;
}

.close-product-button:focus {
  border: 2px solid transparent;
  outline: 2px solid #af4fff;
}

.popover-product-img {
  margin-right: 23px;
}

.popover-cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #1a1a1a;
  height: 44px;
}

.p-popover-quantity {
  display: inline-block;
  width: 120px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.p-popover-price {
  display: inline-block;
  width: 150px;
  text-align: end;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.popover-open-cart-button-container {
  padding: 20px;
}

.popover-open-cart-button {
  display: block;
  width: 280px;
  height: 50px;
  border: solid 2px transparent;
  background: #ffffff;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.popover-open-cart-button:hover {
  background: #ffe17f;
}

.popover-open-cart-button:active {
  opacity: 0.3;
}

.popover-open-cart-button:focus {
  border: 2px solid transparent;
  outline: 2px solid #af4fff;
}
