@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

/* Применение свойства visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

/* Базовые насторйки body */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color:#000000;
  background-color: #ffffff;
  padding-top: 40px;
}

/* Шапка страницы */
.index-header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 150px;
}

.catalog-header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1040px;
  height: 150px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 34px;
  margin-bottom: 35px;
}

.page-header {
  background-color: #FFE17F;
  color:#000000;
}

.navigation-links-img {
  margin-right: 12px;
}

.header-logo {
  display: block;
  margin-top: -20px;
  margin-bottom: 30px;
}

.header-logo-link {
  display: block;
  margin-top: -20px;
  margin-bottom: 30px;
}

.header-logo:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.header-logo:active {
  opacity: 0.3;
}

.middle-header-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0  auto;
  margin-bottom: 30px;
}

.navigation-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 517px;
  margin-right: 26px;
}

.search-field-container {
  width: 359px;
  display: flex;
  align-items: center;
  border: 2px solid #000000;
  border-right: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.search-img {
  padding: 12px 16px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-field {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #FFE17F;
  opacity: 0.3;
  border: none;
  padding: 10px 0;
  flex-grow: 1;
}

/* Отображение курсора на всех кнопках */
button {
  cursor: pointer;
}

.search-button {
  width: 160px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: none;
  border: 2px solid #000000;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px 56px;
}

/* Анимация при наведении курсора на кнопку "Найти" */
.search-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  transition: 0.5s;
}

/* Анимация при нажатии на кнопку "Найти" */
.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.search-button:disabled {
  opacity: 0.3;
}

.navigation-links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 497px;
}

.enter-navigation-link::before {
  content: url("../images/icons/login.svg");
  padding-right: 12px;
}

.compare-navigation-link::before {
  content: url("../images/icons/compare.svg");
  padding-right: 12px;
}

.cart-navigation-button {
  display: flex;
  align-items: center;
}

.number-two-icon {
  display: block;
  padding-right: 12px;
}

.navigation-links:hover {
  opacity: 0.6;
}

.navigation-links:active {
  opacity: 0.3;
}

.navigation-links-item:first-child {
  flex-grow: 1;
}

.exit-link-span {
  opacity: 0.3;
  padding-left: 28px;
}

.navigation-links-item:nth-child(2){
  margin-right: 18px;
}

.navigation-links-item a {
  color: #000000;
  text-decoration: none;
}

.bottom-header-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
}

.navigation-dropdown {
  display: flex;
}

.navigation-links-button {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border: none;
  background: none;
  padding: 0;
}

.navigation-dropdown-button {
  display: flex;
  height: 50px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:#000000;
  margin: auto;
  padding: 0;
  border: none;
  background: none;
}

.navigation-dropdown-img {
  opacity: 0.3;
  padding-left: 7px;
}

.navigation-dropdown-button:hover .navigation-dropdown-img {
  opacity: 1;
}

.navigation-dropdown-button:active .navigation-dropdown-img {
  display: none;
  content: url("../images/icons/plus.svg");
}

.navigation-dropdown-list {
  display: grid;
  grid-template-columns: 222px 211px 211px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-advantages-link {
  font-family: 'Raleway', sans-serif;
  color:#000000;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.navigation-advantages-link:hover {
  opacity: 0.3;
}

.navigation-advantages-link:active {
  opacity: 0.6;
}

.navigation-advantages-item {
  font-family: 'Raleway', sans-serif;
  color:#000000;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 45px;
}

.navigation-advantages-item:last-child {
  margin-right: -0.2em;
}

.navigation-dropdown-link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

/* Основное содержание главной страницы */
.main-container {
  flex-grow: 1;
}

/* Баннеры товаров */
.banner {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: 0 auto;
  margin-top: -150px;
  margin-bottom: 70px;
}

.banner-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner-bottom-buttons-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-self: flex-end;
  grid-area: 1 / 1 / 2 / 3;
}

.banner-nav-button {
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 20px;
}

/* Состояние нижних навигационных кнопок баннера при наведении */
.banner-nav-button:hover {
  opacity: 0.6;
}

/* Состояние нижних навигационных кнопок баннера при нажатии */
.banner-nav-button:active {
  opacity: 0.3;
}

.banner-nav-button:last-child {
  margin-right: 0px;
}

.banner-item-container {
  display: grid;
  grid-template-columns: 560px 600px;
  grid-template-rows: 560px;
}

.banner-item-content {
  grid-area: 1 / 1 / 2 / 2;

}

.banner-item-text-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 40px;
  grid-area: 1 / 2 / 2 / 3;
}

.item-number {
  text-align: end;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color:#ffffff;
  background-color: #FFE17F;
  padding-right: 49px;
  padding-bottom: 5px;
  padding-top: 85px;
}

.banner-title {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 29px;
}

.banner-text {
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.banner-text-bold {
  font-size: 36px;
  line-height: 30px;
  color:#000000;
}

.banner-text-details-container {
  display: flex;
}

.banner-text-details {
  font-size: 16px;
  color: #444444;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 26px;
}

.banner-text-details:last-child {
  margin-right: 0;
}

.banner-text-details-item-03 {
  margin-right: 40px;
}

/* Стилизация кнопок с желтой полоской */
.banner-more-button {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 220px;
  height: 40px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  overflow: hidden;
}

.button-light-yellow-background {
  position: absolute;
  width: 220px;
  height: 8px;
  left: 0px;
  top: 15px;
  z-index: -1;
}

.banner-more-button:hover .button-light-yellow-background {
  transform: scale(10);
  transition: 0.5s;
}

.banner-more-button:active {
  background-color: #FFCC33;;
}

.banner-more-button:disabled {
  opacity: 0.3;
}

.banner-buttons-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-self: center;
  grid-area: 1 / 1 / 2 / 2;
}
/* Кнопки баннеров "вперед, назад" */
/* Состояние при наведении */
.banner-button-previous:hover, .banner-button-next:hover {
  opacity: 0.6;
}

/* Состояние при нажатии */
.banner-button-previous:active, .banner-button-next:active {
  opacity: 0.3;
}

/* Отдельный блок категорий товаров с иконками */
.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
  padding-bottom: 102px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1160px;
}

.category-item-link {
padding-top: 160px;
}

.category-item-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color:#FFE17F;
  margin-bottom: 32px;
}

.category-item-img-container-monopod {
  align-items: end;
}

.category-img {
  display: block;

  margin-bottom: 32px;
  background-color:#FFE17F;
}

.category-item a {
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.category-item:hover .category-item-img-container {
  background-color: #FFC700;
  transition: 0.5s;
}

.category-item:active {
  opacity: 0.3;
}

/* Блок приемуществ */
.advantages {
  position: relative;
  background-color: #F0F0F0;
  margin-bottom: 70px;
  padding-bottom: 72px;
  z-index: 0;
}

.advantages-container {
  display: flex;
  justify-content: start;
  width: 1160px;
  margin: 0 auto;
}

.advantage-button, .advantage-active-button {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  width: 160px;
  height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
  border: none;
  background: none;
  text-align: center;
  overflow: hidden;
}

.advantage-button-light-yellow-background {
  position: absolute;
  width: 160px;
  height: 8px;
  left: 0px;
  top: 15px;
  z-index: -1;
}

.advantage-button:hover .advantage-button-light-yellow-background {
  transform: scale(10);
  transition: 0.5s;
}

.advantage-button:active {
  background-color: #FFCC33;
}

/* Дополнительные состояния кнопки кредита */
.advantage-credit-button:hover {
  width: 280px;
  padding-right: 127px;
  padding-left: 61px;
  transition: 0.5s;
}

.advantage-credit-button:focus {
  width: 280px;
  padding-left: 61px;
  padding-right: 127px;
  outline: solid 2px #AF4FFF;
}


.advantage-button-item:last-child .advantage-button {
  margin: 0;
}

.active-advantage-button-item {
  width: 280px;
  height: 40px;
  background-color: #000000;
  margin-bottom: 35px;
}

.advantage-active-button {
  width: 160px;
  height: 40px;
  margin-right: 120px;
  border: none;
  background-color: #000000;
  color: #FFE17F;
  text-align: center;
  cursor: default;
}

.advantage-button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-right: 116px;
  padding: 0;
  border-right: solid 6px;
}

.advantage-list {
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -102px;
}

.advantage-item {
  display: flex;
  width: 1160px;
  height: 319px;;
}

.advantage-item-title {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.advantage-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.advantage-text-container-delivery{
  flex-wrap: wrap;
  margin-right: 110px;
}

.advantage-text-container-warranty {
  margin-right: 83px;
}

.advantage-text-container-credit {
  margin-right: 98px;
}

.advantage-text {
  color: #444444;
  margin: 0;
}

.advantage-img-courier {
  display: flex;
  align-self: center;
  width: 136px;
  height: 164px;
  background-image: url("../images/advantages/postman.svg");
}

.advantage-img-instruments {
  display: flex;
  align-self: center;
  width: 171px;
  height: 195px;
  background-image: url("../images/advantages/tools.svg");
}

.advantage-img-credit-card {
  display: flex;
  align-self: center;
  width: 156px;
  height: 188px;
  background-image: url("../images/advantages/loader.svg");
}

/* Блок доставки под заказ */
.special-delivery {
  display: flex;
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: #F0F0F0;
}

.special-delivery-delivery-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

.special-delivery-info-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
}

.special-delivery-info-img g {
  opacity: 0.3;
}

.special-delivery-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 1160px;
  border: none;
  margin: 0;
  padding: 0;
}

.special-delivery-button:hover .special-delivery-info-img g {
  opacity: 1;
  transition: 0.5s;
}

.special-delivery-button:hover .special-delivery-delivery-img {
  background-color: #FFC700;
  transition: 0.5s;
}

.special-delivery-button:active {
  opacity: 0.3;
}

/* Общий блок "О нас" и "Контакты" */
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

/* Блок "О нас" */
.about {
  width: 520px;
}

.about-title {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
  padding-top: 47px;
}

/* Декоративная линия над "О нас" */
.about-title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-text {
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.about-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 21px;
}

.about-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 19px;
  color: #FFC700;
}

.about-item span {
  color: #000000;
  padding-left: 14px;
}

.about-item:nth-child(3) {
  margin-bottom: 0;
}

.about-button {
  position: relative;
  width: 270px;
  height: 40px;
  font-family: 'Raleway'sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  overflow: hidden;
}

.about-button-line {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
  width: 270px;
  height: 8x;
}

.about-button:hover .about-button-line {
  transform: scale(10);
  transition: 0.5s;
}

.about-button:active {
  background-color: #FFCC33;;
}

.about-button:disabled {
  opacity: 0.3;
}

/* Блок "Контакты" */
.contacts {
  width: 532px;
}
/* Декоративная линия над "Контакты" */
.contacts-title {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
  padding-top: 47px;
}

.contacts-title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts-text {
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  color:#444444;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address-text {
  font-style: normal;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.contacts-address-telephone {
  color: #444444;
}

.contacts-button {
  position: relative;
  width: 259px;
  height: 40px;
  font-family: 'Raleway'sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  overflow: hidden;
}

.contacts-button-line {
  position: absolute;
  left: 0;
  top: 15px;
  z-index: -1;
}

.contacts-button:hover .contacts-button-line {
  transform: scale(10);
  transition: 0.5s;
}

.contacts-button:active {
  background-color: #FFCC33;;
}

.contacts-button:disabled {
  opacity: 0.3;
}

/* Блок подписки на рассылку */
.subs-container {
  margin: 0 auto;
  background-color: #F0F0F0;
}

.subs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 56px;
  padding-top: 64px;
  background-color: #F0F0F0;
}

.subs-top-container {
  display: flex;
  margin-bottom: 144px;
}

.subs-title {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-right: 252px;
}

.subs-text {
  color: #444444;
  margin: 0;
  padding-top: 10px;
}

.subs-bottom-text::before {
  content: url("../images/icons/green-check.svg");
  padding-right: 16px;
}

.subs-bottom-container {
  display: flex;
  justify-content: space-between;
  height: 57px;
}

.subs-form {
  display: flex;
  justify-content: space-between;
  width: 810px;
}

.subs-input {
  width: 557px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding-left: 16px;
  background: none;
  border: none;
  border-bottom: solid #C4C4C4;
  ;
}

.subs-input::placeholder {
  color: #444444;
  opacity: 0.5;
}

.subs-button {
  width: 253px;
  font-family: 'Raleway', sans-serif;
  line-height: 21px;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: solid #C4C4C4;
}

.subs-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: solid 2px #000000;
}

.subs-button:active {
  color: rgba(255, 255, 255, 0.5);
}

.subs-button:disabled {
  opacity: 0.3;
}

/* Футер страницы */
.page-footer-container {
  width: auto;
  margin: 0;
  background-color: #444444;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 61px;
  background-color: #444444;
}

.footer-logo {
  padding-top: 62px;
  margin-bottom: 35px;
}

.footer-logo:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-address {
  margin-bottom: 64px;
}

.footer-address-text {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
  background-color: #444444;
  margin: 0;
  padding-bottom: 71px;
}

.footer-address-text::after {
  position: absolute;
  content: "";
  background-color: #FFC700;
  width: 80px;
  height: 7px;
  bottom: 0;
  left: 0;
}

.footer-social {
  padding-top: 135px;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.social-button {
  display: block;
  width: 40px;
  height: 40px;
}

/* Настройки цвета фона икнонок соц. сетей */
.bottom-social-img {
  fill: #FFFFFF;
  opacity: 0.3;
}

/* Настройки цвета иконки соц. сетей */
.bottom-social-img path {
  fill: #444444;
}

/* Цвет фона иконки при наведении */
.social-button:hover .bottom-social-img {
  fill: #FFC700;
  opacity: 1;
}

/* Цвет иконки с фоном при нажатии */
.social-button:active .bottom-social-img {
  fill: #FFC700;
  opacity: 0.3;
}

.social-button:active .bottom-social-img path {
  opacity: 0.3;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
}

.footer-info-link {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #444444;

}

.footer-info-link:hover {
  color: #FFC700;
  padding-bottom: 4px;
  border-bottom: solid 2px;
}

.footer-info-link:active {
  color: #FFC700;
  padding-bottom: 4px;
  border-bottom: solid 2px;
  opacity: 0.3;
}

.footer-info-item {
  margin-right: 35px;
}

.footer-info-item:last-child {
  margin-right: -0.2em;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tel {
  padding-top: 140px;
}

.footer-tel {
  margin-bottom: 63px;
}

.footer-tel-link{
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #444444;
}

.footer-tel-link:hover {
  color: #FFC700;
}

.footer-tel-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-logo-academy {
  margin: 0;
  padding-left: 60px;
}

.footer-link-academy {
  display: block;
  width: 115px;
  height: 33px;
}

.footer-img-academy path {
  fill: #FFC700;
}

.footer-link-academy:hover .footer-img-academy path {
  fill: #FFFFFF;
}

.footer-link-academy:active .footer-img-academy path {
  fill: #FFFFFF;
  opacity: 0.3;
}

/* Хлебные крошки */
.catalog-breadcrumbs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1160px;
}

.breadcrumbs-title {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
  padding-left: 60px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  padding-left: 60px;
}

.breadcrumbs-item {
  margin-right: 16px;
}

.breadcrumbs-item a {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 0.3;
}

.breadcrumbs-link:active {
  opacity: 0.6;
}

.breadcrumbs-ray-img::after {
  content: url("../images/icons/ray.svg");
  padding-left: 16px;
}

/* Страница каталога товаров */
.main-catalog {
  position: relative;
  flex-grow: 1;
  background-color: #F0F0F0;
  margin: 0;
  z-index: 0;
}

.main-catalog-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

/* Блок боковой панели, фильтр */
.catalog-aside {
  display: flex;
  width: 320px;
  justify-content: end;
}

.aside-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 60px;
  padding-top: 25px;
}

.aside-price {
  width: 200px;
  margin-bottom: 35px;
  border-top: solid;
}

.aside-price-title, .aside-color-title, .aside-bluetooth-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 12px;
}

.aside-price-range {
  width: 200px;
}

.aside-price-from {
  margin-right: 75px;
}

.aside-price-from, .aside-price-to {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
}

.aside-color {
  font-size: 16px;
  width: 200px;
  line-height: 20px;
  margin-bottom: 35px;
  margin-right: 60px;
  border-top: solid;
}

.aside-color label {
  display: block;
  margin-bottom: 17px;
}

.aside-color label:last-child {
  margin: 0;
}

.aside-bluetooth {
  width: 200px;
  font-size: 16px;
  line-height: 20px;
  margin-right: 60px;
  margin-bottom: 35px;
  border-top: solid;
}

.aside-bluetooth label {
  display: block;
  margin-bottom: 20px;
}

.aside-bluetooth label:last-child {
  margin-bottom: 0;
}

.aside-button {
  margin-right: 60px;
  text-align: center;
}

.aside-button-show {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  height: 40px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.aside-button-show-line {
  position: absolute;
  width: 220px;
  height: 8px;
  left: 0px;
  top: 15px;
  z-index: -1;
}

.aside-button-show:hover .aside-button-show-line {
transform: scale(10);
transition: 0.5s;
}

.aside-button-show:active {
  background-color: #FFCC33;;
}

.aside-button-show:disabled {
  opacity: 0.3;
}


/* Контейнер-блок товаров */
.main-goods {
  display: flex;
  flex-direction: column;
  width: 840px;
  background-color: #FFFFFF;
}

/* Блок сортировки над списком товаров */
.goods-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 40px;
  padding-right: 40px;
  background: #F0F0F0;
  margin-bottom: 70px;
}

.goods-sorting-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.goods-sorting-select {
  font-family: 'Rubik', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background: none;
  border: none;
}

.sorting-button-up {
  width: 30px;
  height: 30px;
  border: none;
}

.sorting-button-up svg {
  fill: #000000;
  opacity: 0.2;
}

.sorting-button-down {
  width: 30px;
  height: 30px;
  border: none;
}

.sorting-button-down svg {
  fill: #000000;
  opacity: 0.2;
}

.sorting-buttons:hover svg {
  fill: #000000;
  opacity: 0.5;
}

.sorting-buttons:active svg {
  fill: #000000;
  opacity: 1;
}

/* Список товаров */
.goods-list {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 44px;
  column-gap: 40px;
  background-color: #FFFFFF;
  margin: 0;
  margin-bottom: 44px;
  margin-right: 40px;
  list-style: none;
}

/* Карточка товара */
.goods-item {
display: grid;
row-gap: 32px;
}

.goods-item-img {
  object-fit: contain;
  grid-area: 1 / 1 / 2 / 2;
}

.goods-item-text-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.goods-item-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
}

.goods-item-price {
  margin: 0;
}

.goods-item-button {
  position: relative;
  width: 220px;
  height: 40px;
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

.item-button-line {
  position: absolute;
  width: 220px;
  height: 8px;
  left: 0px;
  top: 15px;
  z-index:-1;
}

.goods-item-button:hover .item-button-line {
  transform: scale(10);
  transition: 0.5s;
}

.goods-item-button:active {
  background-color: #FFC700;
}

/* Кнопка "Загрузить ещё" */
.more-goods-button {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  width: 760px;
  height: 55px;
  margin: auto;
  margin-bottom: 44PX;
  border: solid 3px;
  border-color: #E5E5E5;
}

.more-goods-button:hover {
  border: solid 3px #000000;
}

.more-goods-button:active {
  border: solid 3px #000000;
  opacity: 0.3;
}

.more-goods-button:disabled {
  border: 3px solid #E5E5E5;
  opacity: 0.3;
}

/* Блок навигации списка товаров */
.goods-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #EBEBEB;
  margin: auto;
  width: 760px;
  height: 71px;
  margin-bottom: 78px;
}
/* Стили кнопок "Назад, Вперед" в покое */
.goods-navigation-button {
  padding: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background: #EBEBEB;;
}

.goods-navigation-button:hover {
 color: #000000;
 background: #DCDCDC;
}

.goods-navigation-button:active {
  color: #000000;
  opacity: 0.3;
}

/* Стиль "текущей" страницы */
.navigation-button-back {
  color: rgba(68, 68, 68, 0.3);
  background: #EBEBEB;
  cursor: default;
}


.goods-navigation-button-numbers {
  width: 40px;
  height: 40px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  border: none;
  margin-right: 2px;
}

.goods-navigation-button-numbers:last-child {
  margin-right: 0;
}

.goods-navigation-button-numbers:nth-child(1){
  color: rgba(68, 68, 68, 0.6);
}

.goods-navigation-button-numbers:hover {
  color: rgba(68, 68, 68, 1);
}

.goods-navigation-button-numbers:active {
  color: rgba(68, 68, 68, 0.1);
}

/* Стили кнопок и ссылок */

/* Класс сброса стиля кнопки */
.clear-button {
  background: none;
  border: none;
}

/* Выделение рамкой при фокусе TAB */
/* Значение для браузеров по умолчанию */
.focus-visible-outline:focus {
  outline: solid 2px #AF4FFF;
}

/* Улучшение через директиву @supports */
@supports selector(:focus-visible) {

  /* Убираем фокус у элементов */
  .focus-visible-outline:focus {
    outline: none;
  }

  /* Задаём видимый фокус у элементов */
  .focus-visible-outline:focus-visible {
    outline: solid 2px #AF4FFF;
  }
}
